/*Dashboard*/

.table {
    width: 80%;
    margin: 0 auto;
}

.input-short {
    width: 40px;
}

.selected-image {
    width: 150px;
    height: 150px;
}

.avatars-list {
    list-style: none;
}

.avatars-list li {
    display: inline;
    margin-right: 10px;
}

.page-footer {
    height: 75px;
}