/*Dashboard*/

.table {
    width: 80%;
    margin: 0 auto;
}

.input-short {
    width: 40px;
}

.selected-image {
    width: 150px;
    height: 150px;
}

.avatars-list {
    list-style: none;
}

.avatars-list li {
    display: inline;
    margin-right: 10px;
}

.page-footer {
    height: 75px;
}

.general-container{
    min-height: 100vh;
}

.container {
    flex-grow: 1;
}


.profile__img{
    height: 150px;
    width: 120px;
    border-radius: 7px;
    transition: 0.3s ease;
    background-image: url('../img/usuario.svg');
    overflow: hidden;
}

.profile__img img{
    height: 150px;
    width: 120px;
    object-fit: cover;
}

.profile__img:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.profile__img--selector{
    width: 50%;
    min-width: 225px;
}

.profile__img--prev{
    border: 3px solid rgb(250, 200, 0);
}

.errorMsg{
    height: 50px;
    width: 50%;
    min-width: 300px;
}

.form-error{
    border-color: red;
}